/* Debug: This should make all entries have a red border if CSS is loaded */
entry {
    border: 1px solid red;
}

VteTerminal, vte-terminal {
    padding: 15px;
}

@binding-set gtk-emacs-text-entry
{
  bind "<super>a" { "select-all" (1) };

  bind "<alt>b" { "move-cursor" (words, -1, 0) };
  bind "<shift><alt>b" { "move-cursor" (words, -1, 1) };
  bind "<alt>f" { "move-cursor" (words, 1, 0) };
  bind "<shift><alt>f" { "move-cursor" (words, 1, 1) };

  bind "<alt>a" { "move-cursor" (paragraph-ends, -1, 0) };
  bind "<shift><alt>a" { "move-cursor" (paragraph-ends, -1, 1) };
  bind "<alt>e" { "move-cursor" (paragraph-ends, 1, 0) };
  bind "<shift><alt>e" { "move-cursor" (paragraph-ends, 1, 1) };

  bind "<alt>w" { "cut-clipboard" () };
  bind "<alt>y" { "paste-clipboard" () };

  bind "<alt>d" { "delete-from-cursor" (word-ends, 1) };
  bind "<alt>k" { "delete-from-cursor" (paragraph-ends, 1) };
  bind "<alt>backslash" { "delete-from-cursor" (whitespace, 1) };

  bind "<alt>space" { "delete-from-cursor" (whitespace, 1)
                      "insert-at-cursor" (" ") };
  bind "<alt>KP_Space" { "delete-from-cursor" (whitespace, 1)
                         "insert-at-cursor" (" ")  };
  bind "<alt>u" { "move-cursor" (paragraph-ends, -1, 0)
                   "delete-from-cursor" (paragraph-ends, 1) };

  bind "<alt>h" { "delete-from-cursor" (chars, -1) };
}

@binding-set gtk-emacs-text-view
{
  bind "<ctrl>p" { "move-cursor" (display-lines, -1, 0) };
  bind "<ctrl><alt>p" { "move-cursor" (display-lines, -1, 1) };
  bind "<ctrl>n" { "move-cursor" (display-lines, 1, 0) };
  bind "<shift><ctrl>n" { "move-cursor" (display-lines, 1, 1) };

  bind "<alt>space" { "set-anchor" () };
  bind "<alt>KP_Space" { "set-anchor" () };
}

@binding-set gtk-emacs-tree-view
{
  bind "<alt>s" { "start-interactive-search" () };
  bind "<alt>f" { "move-cursor" (logical-positions, 1) };
  bind "<alt>b" { "move-cursor" (logical-positions, -1) };
}

@binding-set gtk-emacs-menu
{
  bind "<ctrl>n" { "move-current" (next) };
  bind "<ctrl>p" { "move-current" (prev) };
  bind "<ctrl>f" { "move-current" (child) };
  bind "<ctrl>b" { "move-current" (parent) };
}

entry {
  -gtk-key-bindings: gtk-emacs-text-entry;
}

textview {
  -gtk-key-bindings: gtk-emacs-text-entry, gtk-emacs-text-view;
}

treeview {
  -gtk-key-bindings: gtk-emacs-tree-view;
}

menubar {
  -gtk-key-bindings: gtk-emacs-menu;
}
