{:paths ["src" "src/lib"]
 :deps {strojure/parsesso {:git/url "https://github.com/strojure/parsesso" :sha "28d28cb9b84cdbd990d0f6e0f4cd34ab1aacbc5f"}
        io.github.babashka/instaparse-bb {:git/sha "059045f6a8450bda74eb30136ddd2c5475f788d1"}
        funcool/cats {:mvn/version "2.4.2"}
        lambdaisland/uri {:mvn/version "1.13.95"}
        tick/tick {:git/url "https://github.com/juxt/tick.git"
                   :sha "f64344801839ed1428db01d012bcd6d3a30093e6"}}}
